<li>
  <a href="/dashboard">
	<i class="icon-dashboard"></i>
	<span>Dashboard</span>
  </a>
</li>
<li>
  <a href="/upcoming_washes">
	<i class="icon-tint"></i>
	<span>Upcoming Washes</span>
  </a>
</li>
<li>
  <a href="/wash_reports">
	<i class="icon-list-alt"></i>
	<span>Wash Reports</span>
  </a>
</li>
<li>
  <a href="/targets">
	<i class="icon-pushpin"></i>
	<span>Targets</span>
  </a>
</li>
<li>
  <a href="/invoices">
	<i class="icon-credit-card"></i>
	<span>Invoices</span>
  </a>
</li>
<li>
  <a href="/customers">
	<i class="icon-user"></i>
	<span>Customers</span>
  </a>
</li>
<li>
  <a href="/tasks">
	<i class="icon-ok"></i>
	<span>Tasks</span>
  </a>
</li>
<li>
  <a href="/schedules">
	<i class="icon-calendar"></i>
	<span>Schedules</span>
  </a>
</li>
<!-- <li>
  <a href="/users">
  <i class="icon-group"></i>
  <span>Users and Roles</span>
  </a>
</li> -->
<li class="notifications_counter">
  <%= render "shared/notifications_menu"%>
</li>
<li>
  <a href="/settings" class="dropdown-toggle" >
	<i class="icon-cog"></i>
	<span>Settings</span>
	</a>
</li>
